html {
    height: 100%;
}

body {
    background: url('media/pottery-tableware-decor-unique-design.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(80vh - 150px);
    color: #36281D;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

i {
    color: #36281D;
}

.pottery-logo {
    text-decoration: none;
    color: #A1643E;
    font-family: "Poiret One", sans-serif;
    font-size: 25px;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
    color: #36281D;
}

.shop-button {
    background-color: white;
    color: #36281D;
    min-width: 300px;
}

.shop-button:hover {
    background-color: #E2D3C1;
}
