html {
    height: 100%;
}

body {
    background: url('/images/pottery-tableware-decor-unique-design.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 150px);
    color: #36281D;
    font-family: "Red Hat Display", sans-serif;
    font-weight: 300 light;
}

.form-control:focus {
    border-color: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn:focus {
    border-color: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#search-btn {
    border: none;
    font-size: 11.3px;
    background-color: white;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.header-bg {
    background-color: rgba(255, 255, 255, 0.7);
}

input:focus {
    border: 1px solid white;
}

.nav-link {
    padding: 10px 5px 0px 0px;
}

.pottery-logo {
    text-decoration: none;
    color: #B3603E;
    font-family: "DM Serif Display", sans-serif;
    font-size: 50px;
    font-weight: 700 bold;
}

.pottery-logo:hover {
    text-decoration: none;
    color: #B3603E;
}

.product-hover:hover {
    background-color: #D0D3DA;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
    color: #36281D;
}

.shop-button {
    background-color: white;
    color: #36281D;
    min-width: 300px;
}

.shop-button:hover {
    background-color: #D0D3DA;
}

.items-circle {
    background-color: white;
    color: #36281D;
    display: flex;
}
