{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="{% static 'images/pottery_favicon.png' %}">

    <!-- Bootstrap CSS -->
    {% block corecss %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    <!-- JavaScript -->
    {% block corejs %}
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/0f6c63645a.js" crossorigin="anonymous"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>The Pottery Hut {% block extra_title %}{% endblock %}</title>
  </head>
  <body>
    <header class="container-fluid fixed-top header-bg">
      <!-- Pottery Logo -->
      <div class="col-5 align-self-center">
        <a href="{% url 'home' %}" class="nav-link pottery-logo"><h2>The Pottery Hut</h2></a>
      </div>

      <!-- product collapsable menu -->
      <div class="row">
        <div class="col my-auto py-lg-0">
          <a class="btn productbtn dropdown-toggle text-uppercase" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Products
          </a>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item text-uppercase" href="#">Favourites</a>
            <a class="dropdown-item text-uppercase" href="#">Tableware</a>
            <a class="dropdown-item text-uppercase" href="#">Decor</a>
            <a class="dropdown-item text-uppercase" href="#">All Pottery</a>
          </div>
        </div>

        <!-- search form -->
        <div class="col-4 my-auto py-1 py-lg-0">
          <form method="GET" action="">
            <div class="input-group input-group-sm w-100">
              <div class="input-group-append">
                <button id="search-btn" class="form-control btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
              </div>
              <input class="form-control border border-white text-uppercase" type="text" name="q" placeholder="Search..">
            </div>
          </form>
        </div>

        <!-- blog, account and shopping bag -->
        <div class="row">
          <div class="col mr-3 text-uppercase">
            <ul class="list-inline list-unstyled">
              <li class="list-inline-item dropdown">
                <a class="nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <div class="text-center icon"><i class="fa-regular fa-user"></i></div>
                </a>
                <div class="dropdown-menu" aria-labelledby="user-options">
                  {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
                    <a href="" class="dropdown-item text-uppercase">Product Management</a>
                    {% endif %}
                    <a href="" class="dropdown-item text-uppercase">My Profile</a>
                    <a href="{% url 'account_logout' %}" class="dropdown-item text-uppercase">Sign out</a>
                  {% else %}
                    <a href="{% url 'account_signup' %}" class="dropdown-item text-uppercase">Register</a>
                    <a href="{% url 'account_login' %}" class="dropdown-item text-uppercase">Sign in</a>
                  {% endif %}
                </div>
              </li>
              <li class="list-inline-item">
                <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link navicon" href="#">
                  <div class="text-center icon">
                    <!-- bag that shows number of items inside -->
                    <div><i class="fa-solid fa-basket-shopping"></i>
                      <div class="items-circle text-center rounded-circle">
                        <span>{{ bag.num_of_items }}</span>
                      </div>
                    </div>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </header>

    {% if messages %}
        <div class="message-container"></div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block postloadjs %}
    {% endblock %}

  </body>
</html>